.effects {
	outline: transparent;
	transition: opacity 0.2s, box-shadow 0.3s;

	&:focus {
		box-shadow: 0 0 0 3px rgba($white, 0.9);
		border-radius: 3px;
	}

	&:hover {
		opacity: 0.7;
	}

	&:active {
		opacity: 0.5;
	}
}

@keyframes sheen {
	100% {
		transform: rotateZ(60deg) translate(1em, -7em);
	}
}

@keyframes slideLeft {
	0% {
		transform: translate(-200%, 0);
	}

	100% {
		transform: translate(0, 0);
	}
}

@keyframes fadeDown {
	0% {
		transform: translate(0, 120%);
		opacity: 0;
	}

	100% {
		transform: translate(0, 0);
		opacity: 1;
	}
}

.hero,
.calc__link {
	position: relative;

	&::before {
		content: "";
		position: absolute;
		display: block;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba($black, 0.35);
		z-index: 1;
	}
}

.hero {
	&__title {
		animation-name: slideLeft;
		animation-duration: 0.7s;
	}

	&__inner {
		animation-name: fadeDown;
		animation-duration: 0.8s;
	}
}
