.logo {
	&__img {
		object-fit: contain;

		@include mq("tablet-s", max) {
			width: 120px;
		}
	}
}

.calculator {
	background-color: $white;
	max-width: 1034px;
	width: 100%;
	color: $grey-700;
	padding: 50px 0 0 50px;

	@include mq("desktop", max) {
		max-width: 100%;
		padding: 30px;
	}

	&__title {
		font-size: 48px;
		font-weight: 400;
		margin-bottom: 50px;

		@include mq("desktop", max) {
			text-align: center;
			font-size: 40px;
			margin-bottom: 40px;
		}

		@include mq("tablet", max) {
			text-align: left;
		}

		@include mq("phone", max) {
			font-size: 32px;
			margin-bottom: 30px;
			line-height: 1.1;
		}
	}

	&__form {
		position: relative;
	}

	&__type,
	&__type-renovation,
	&__range-slider {
		margin-bottom: 50px;

		@include mq("tablet", max) {
			margin-bottom: 40px;
		}

		@include mq("phone", max) {
			margin-bottom: 30px;
		}
	}

	&__type {
		max-width: 857px;
	}

	&__name {
		display: block;
		margin-bottom: 10px;
		color: $grey-300;
	}

	&__wrapper {
		display: flex;
		flex-wrap: wrap;
	}

	&__tel-label {
		display: inline-block;
		margin-bottom: 100px;
	}

	&__tel-input {
		outline: transparent;
		padding: 16px 106px 16px 20px;
		box-shadow: transparent;
		transition: box-shadow 0.2s;
		border: 1px solid $accent;

		@include mq("phone", max) {
			padding-right: 20px;
		}

		&::placeholder {
			color: $grey-700;
		}
	}

	&__footer {
		position: absolute;
		bottom: 0;
		right: 0;
		display: flex;
		align-items: center;

		@include mq("tablet", max) {
			bottom: -30px;
			right: -30px;
		}

		@include mq("phone", max) {
			align-items: flex-end;
		}
	}

	&__warning {
		margin-right: 30px;

		@include mq("tablet-s", max) {
			margin-right: 15px;
			font-size: 12px;
		}

		@include mq("phone", max) {
			margin-right: 5px;
			margin-bottom: 5px;
		}
	}

	&__personal {
		color: $accent;
		text-decoration: underline;
		text-decoration-color: transparent;
		transition: text-decoration-color 0.2s;

		&:hover {
			text-decoration-color: $accent;
		}
	}

	&__btn {
		border-radius: 0;
		color: $white;
		text-transform: uppercase;
		font-weight: 500;
		flex-shrink: 0;
	}
}

.calculator-checkbox {
	font-size: 18px;

	@include mq("tablet", max) {
		margin-bottom: 10px;
	}

	&:not(:last-child) {
		margin-right: 20px;
	}

	&__content {
		display: block;
		text-align: center;
		padding: 16px 20px;
		border: 1px solid transparent;
		cursor: pointer;
	}

	&__field {
		&:checked + .calculator-checkbox__content {
			border: 1px solid $accent;
		}
	}
}
