.logo {
	&__img {
		object-fit: contain;

		@include mq("tablet-s", max) {
			width: 120px;
		}
	}
}

.warning {
	&__personal {
		color: $accent;
		text-decoration: underline;
		text-decoration-color: transparent;
		transition: text-decoration-color 0.2s;

		&:hover {
			text-decoration-color: $accent;
		}
	}
}

.top-block {
	display: flex;
	justify-content: space-between;
	align-items: center;

	@include mq("phone", max) {
		display: block;
		margin-bottom: 40px;
	}

	&__title {
		@include mq("phone", max) {
			margin-bottom: 30px;
		}
	}

	&__link {
		font-size: 20px;
		padding: 16px 30px;
		border: 3px solid $accent;
		background-color: $white;
		transition: color 0.3s, background-color 0.3s;

		@include mq("tablet-s", max) {
			padding: 13px 26px;
		}

		@include mq("phone", max) {
			padding: 10px 24px;
			font-size: 16px;
		}

		&:hover {
			background-color: $accent;
			color: $white;
		}
	}
}

.padding-section {
	padding: 100px 0;

	@include mq("desktop-s", max) {
		padding: 80px 0;
	}

	@include mq("tablet", max) {
		padding: 60px 0;
	}

	@include mq("phone", max) {
		padding: 50px 0;
	}
}
