.logo {
	&__img {
		object-fit: contain;

		@include mq("tablet-s", max) {
			width: 120px;
		}
	}
}

.warning {
	&__personal {
		color: $accent;
		text-decoration: underline;
		text-decoration-color: transparent;
		transition: text-decoration-color 0.2s;

		&:hover {
			text-decoration-color: $accent;
		}
	}
}
