//COLORS
$accent: #fc4c00;
$red: #fc0000;

$visited: #1d3b5f;

$white: #fff;

$black: #000;
$dark-bg: #1d2228;

$grey-700: #282828;
$grey-600: #434c56;
$grey: #6d7b8c;
$grey-300: #999;
$grey-200: #797979;
