//COLORS
$accent: #fc4c00;
$red: #fc0000;
$dark-bg: #1d2228;
$black: #000;
$grey: #6d7b8c;
$white: #fff;

%checkbox-hidden,
%radio-hidden {
	width: 1px;
	height: 1px;
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
}
