.how-work {
	background-color: $dark-bg;

	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;

		@include mq("desktop", max) {
			display: block;
		}
	}

	&__title {
		margin-right: 20px;
		max-width: 200px;

		@include mq("desktop", max) {
			margin-right: 0;
			margin-bottom: 50px;
			max-width: 100%;
		}

		@include mq("phone", max) {
			margin-bottom: 30px;
		}
	}

	&__list {
		display: flex;
		justify-content: space-between;
		max-width: 1480px;
		width: 100%;

		@include mq("desktop-s", max) {
			flex-wrap: wrap;
			margin: 0 -5px 0 -5px;
		}
	}

	&__item {
		max-width: 280px;
		color: $grey;

		&:nth-child(1) {
			.how-work__num {
				transition: transform 0.3s ease 0s, opacity 0.3s ease 0s;
			}
		}

		&:nth-child(2) {
			.how-work__num {
				transition: transform 0.3s ease 0.2s, opacity 0.3s ease 0.2s;
			}
		}

		&:nth-child(3) {
			.how-work__num {
				transition: transform 0.3s ease 0.4s, opacity 0.3s ease 0.4s;
			}
		}

		&:nth-child(4) {
			.how-work__num {
				transition: transform 0.3s ease 0.6s, opacity 0.3s ease 0.6s;
			}
		}

		@include mq("desktop-s", max) {
			margin: 0 10px 60px 10px;
		}

		@include mq("phone", max) {
			margin: 0;
			max-width: 100%;

			&:not(:last-child) {
				margin-bottom: 30px;
			}
		}
	}

	&__num {
		display: block;
		font-size: 24px;
		padding-right: 277px;
		position: relative;
		margin-bottom: 20px;
		transform: translateX(-100%);
		opacity: 0;

		&.animated {
			transform: translateX(0);
			opacity: 1;
		}

		&:after {
			content: "";
			display: block;
			background-image: url(../images/icons/icon-arrow-long.svg);
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			position: absolute;
			right: -15px;
			top: 4px;
			width: 260px;
			height: 20px;

			@include mq("phone", max) {
				right: 0;
				left: 30px;
			}
		}
	}

	&__text {
		display: block;
		margin-bottom: 25px;
		color: $white;
		font-size: 20px;
	}

	&__descr {
		line-height: 1.5;
	}
}
